.input__text {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid var(--on-surface);
    color: var(--on-surface);
    font-size: 2rem;
    margin-top: 36px;
    padding-bottom: 9px;
    width: 100%;
}

    .input__text:focus-visible {
        border-bottom: 2px solid var(--on-surface);
        padding-bottom: 8px;
        outline: none;
    }

    .input__text::placeholder {
        /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: var(--on-surface);
        opacity: var(--medium-emphasis-opacity);
    }

    .input__text::-ms-input-placeholder {
        /* Microsoft Edge */
        color: var(--on-surface);
        opacity: var(--medium-emphasis-opacity);
    }

@media screen and (max-width: 599px) {
    .input__text {
        font-size: 2.9rem;
        margin-top: 32px;
    }
}
