/* Overview Container */
.overview {
    /* Size & alignment */
    background-color: var(--surface);
    padding-left: 20px;
    padding-right: 20px;
}

/* Progress Section */
.overviewProgress {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.overviewProgress p {
    font-size: 18px;
    margin-bottom: 5px;
}

/* Question List */
.overviewList {
    list-style-type: decimal;
    margin: 0;
    padding-left: 20px;
    overflow-y: scroll;
    overflow: hidden;

}

.overviewList li {
    display: list-item;
    justify-content: space-between;
    align-items: center;
    padding: 8px 0;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.overviewList li:hover {
    /* background-color: var(--primary);  */
    cursor: pointer;
}

.overviewList a {
    color: var(--on-surface);
}

.overviewList a:hover {
    text-decoration: underline;
}

.overviewList span {
    color: var(--on-surface);
    height: 24px;
    width: 24px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    margin-left: 10px;
}

.overviewButton {
    justify-content: center;
    margin-top: 5px;
    background-color: var(--surface);
    color: var(--on-surface);
    width: auto;
    height: auto;
}