.dropdown-select__option {

}

   /* .dropdown-select__option:hover {
        color: var(--white);
        background-color: var(--on-background);
        
    }*/

.dropdown-select__option > img {
  margin-left: auto;
}

/*.dropdown-select__option.selected {
  color: var(--surface);
  background-color: var(--on-surface);;
}*/

.dropdown-select__option.animate {
  animation: twinkle 0.3s linear 2;
}

@keyframes twinkle {
  from {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@media screen and (max-width: 599px) {
  .dropdown-select__option {
    font-size: 1.8rem;
  }
}
